.dark {
    background-color: #8e8e8e;
    color: white;
}
.pg_container {
    width: 100%;
    background-color: white;
    color: #414141;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.pg_header {
    width: 100%;
    background-color: #3f3f3f;
    color: #ffffff;
    font-weight: 700;
    padding: 10px 10px 10px 15px;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.pg_header span {
    text-transform: none;
}
.pg_subheader {
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: 700;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
}
.pg_previewBet-heading {
    padding-top: 10px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #8e8e8e;
    color: #ffffff;
    text-align: center;
}
.pg_grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.pg_previewBet-row {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.pg_previewBet-row:nth-child(odd) {
    background-color: #e9e9e9;
}
.pg_previewBet-item {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
    height: 60px;
    background-size: 0;
    padding: 5px;
}
.pg_previewBet-item .pg_previewBet-odds {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 100%;
}
.pg_previewBet-item .pg_previewBet-odds .pg_previewBet-bookie {
    width: 40%;
}
.pg_previewBet-item .pg_previewBet-odds .pg_previewBet-bookie img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}
.pg_odds {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-weight: 700;
    color: #6e6e6e;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 20px;
}
.pg_previewBet-betName {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
    width: 60%;
    padding: 10px;
    text-align: left;
    padding-left: 20px;
    background-color: white;
}
.pg_previewBet-betBtnContainer {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 0;
    background-color: white;
}
.pg_previewBet-btn {
    background-color: #f04a3c;
    border: 1px solid #bd3a2e;
    -webkit-box-shadow: 0 0 1px #444;
    box-shadow: 0 0 1px #444;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 10px;
    margin: auto;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}
.pg_previewBet-btn span {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
}
.pg_previewBet-btn span i {
    margin: 0;
    width: auto;
}
.pg_previewBet-btn:hover {
    background-color: #ff6e62;
    color: white;
}
.pg_previewBet-freebet-btn {
    width: 100%;
    background-color: #29b940;
    border: 1px solid #508e5a;
    -webkit-box-shadow: 0 0 1px #444;
    box-shadow: 0 0 1px #444;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    text-decoration: none;
    padding: 10px 0;
}
.pg_previewBet-freebet-btn:hover {
    width: 100%;
    background-color: #54d76a;
    color: #ffffff;
}
.pg_sign-up-price {
    font-size: 20px;
}
.pg_sign-up-msg {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}
.pg_scroll-outer-wrapper {
    position: relative;
}
.pg_scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
@media (min-width: 425px) and (max-width: 800px) {
    .pg_sign-up-price {
        font-size: 16px;
    }
    .pg_previewBet-betName {
        font-size: 16px;
        padding-left: 10px;
    }
    .pg_previewBet-btn span {
        font-size: 16px !important;
    }
}
.pg_arrow-left {
    position: absolute;
    left: 0;
    color: #ffffff;
    background-color: #c7c7c7;
    width: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100% - 40px);
    bottom: 0;
    font-size: 18px;
}
.pg_arrow-left i {
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
}
.pg_arrow-left-red {
    position: absolute;
    left: 0;
    color: #ffffff;
    background-color: #ee493b;
    width: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    border-right: 1px solid #ffffff;
    font-size: 18px;
}
.pg_arrow-left-red i {
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
}
.pg_arrow-right {
    position: absolute;
    right: 0;
    color: #ffffff;
    background-color: #c7c7c7;
    width: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100% - 40px);
    bottom: 0;
    font-size: 18px;
}
.pg_arrow-right i {
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
}
.pg_arrow-right-red {
    position: absolute;
    right: 0;
    color: #ffffff;
    background-color: #ee493b;
    width: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    border-left: 1px solid #ffffff;
    font-size: 18px;
}
.pg_arrow-right-red i {
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
}
.pg_oddsGrid {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}
.pg_oddsGrid-row {
    display: table-row;
}
.pg_oddsGrid-row:nth-child(even) {
    background-color: #e9e9e9;
}
.pg_oddsGrid-row:first-child .pg_oddsgrid-item {
    color: #ffffff;
}
.pg_oddsGrid-item-header {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 45px;
    color: white;
    background-color: #8e8e8e;
}
.pg_oddsGrid-item {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 45px;
    color: #6e6e6e;
    min-width: 80px;
    background-position: center;
    background-size: 70% auto;
    background-repeat: no-repeat;
    font-size: 13px;
    font-weight: 400;
}
.pg_oddsGrid-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #6e6e6e;
}
.pg_oddsGrid-item a:hover {
    background: #8e8e8e;
    color: #ffffff;
}
.pg_bookie-logo {
    width: 80px;
}
.pg_freebet {
    background-color: #28b940;
    color: white;
}
.pg_freebet a {
    color: white;
}
.pg_freebet a:hover {
    background-color: #4fc162;
}
.pg_freebet-container {
    width: 80px;
}
@media screen and (max-width: 320px) {
    .pg_sign-up-price {
        font-size: 14px;
    }
    .pg_sign-up-msg {
        font-size: 8px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .pg_previewBet-btn {
        padding: 10px 0;
    }
    .pg_previewBet-btn span {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
    }
    .pg_previewBet-betName {
        font-size: 16px;
    }
    .pg_odds {
        font-size: 16px;
    }
}
@media screen and (min-width: 320px) and (max-width: 425px) {
    .pg_sign-up-price {
        font-size: 14px;
    }
    .pg_sign-up-msg {
        font-size: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .pg_previewBet-btn {
        padding: 10px 0;
    }
    .pg_previewBet-btn span {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 14px;
    }
    .pg_previewBet-betName {
        font-size: 16px;
    }
    .pg_odds {
        font-size: 16px;
    }
}
@media screen and (min-width: 375px) and (max-width: 425px) {
    .pg_sign-up-price {
        font-size: 14px;
    }
    .pg_sign-up-msg {
        font-size: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .pg_odds {
        font-size: 16px;
    }
    .pg_previewBet-btn span {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 14px !important;
    }
}
@media screen and (min-width: 425px) and (max-width: 485px) {
    .pg_sign-up-price {
        font-size: 16px;
    }
    .pg_sign-up-msg {
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .pg_odds {
        font-size: 18px;
    }
    .pg_previewBet-btn span {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 16px;
    }
}
.pg_flex-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.pg_flex-grid-column {
    background-color: #8e8e8e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.pg_flex-grid-column .pg_flex-grid-item:nth-child(odd) {
    background-color: #e9e9e9;
}
.pg_flex-grid-column-bookie {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}
.pg_flex-grid-header {
    color: white;
    background-color: #8e8e8e;
    padding: 10px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
}
.pg_flex-grid-header-bookie {
    color: white;
    background-color: #8e8e8e;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
}
.pg_flex-grid-item {
    background-color: white;
    height: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    color: #6e6e6e;
}
.pg_flex-grid-freebet {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: white;
    padding: 5px;
}
.pg_flex-grid-freebet a {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: #29b940;
    border: 1px solid #508e5a;
    -webkit-box-shadow: 0 0 1px #444;
    box-shadow: 0 0 1px #444;
}
.pg_flex-grid-freebet a:hover {
    background-color: #54d76a;
}
.pg_flex-grid-freebet a span {
    font-size: 12px;
}
.pg_flex-grid-freebet:nth-child(odd) {
    background-color: #e9e9e9;
}
.pg_flex-grid-bookie {
    height: 50px;
    min-width: 50px;
    padding: 5px;
}
.pg_flex-grid-bookie:nth-child(odd) {
    background-color: #e9e9e9;
}
.pg_flex-grid-bookie img {
    max-height: 100%;
    max-width: 100%;
}
.toggleOdds {
    padding: 5px;
    cursor: pointer;
    background-color: #ee493b;
    color: white;
    margin-bottom: 10px;
}
.toggleOdds:hover {
    background-color: #ff6e62;
}
.pg_flex {
    position: relative;
    width: 100%;
}
.pg_flex-grid-column-freebet {
    background-color: #8e8e8e;
    min-width: 80px;
}
.pg_odds-link {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    color: #6e6e6e;
}
.pg_odds-link:hover {
    background-color: #8e8e8e;
    color: white;
    cursor: pointer;
}
.sp_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}
.sp_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.sp_home {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.sp_team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 45%;
}
.sp_input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.sp_control-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.sp_control {
    width: 25px;
    height: 25px;
    border: 1px solid white;
    background-color: #ee493b;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}
.sp_control i {
    margin: 0 !important;
}
.sp_control:hover {
    background-color: #ff6e62;
}
.sp_picker {
    font-size: 30px;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: #eaeaea;
    border: 1px solid white;
    color: #6e6e6e;
}
input[type=number]::-webkit-outer-spin-button {
    margin: 0;
}
input[type=number]::-webkit-inner-spin-button {
    margin: 0;
}
.sp_vs {
    padding: 10px;
}
.sp_team-badge {
    max-width: 90%;
    display: block;
    margin: auto;
    max-height: 80px;
}
.pg_oddsPicker-atbs {
    padding-left: 10px;
    background-color: #f04a3c;
    border: 1px solid #bd3a2e;
    -webkit-box-shadow: 0 0 1px #444;
    box-shadow: 0 0 1px #444;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    margin: auto;
}
.pg_oddsPicker-atbs span {
    font-size: 20px;
}
.pg_oddsPicker-atbs:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    background-color: #ff6e62;
    color: white;
}
.pg_oddsPicker-img-container {
    display: block;
    max-height: 100%;
    max-width: 100%;
}
.pg_oddsPicker-img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.pg_scorePicker-des {
    margin-bottom: 10px;
    font-size: 20px;
    color: #6e6e6e;
}
.pg_grid-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
}
.pg_grid-inner-wrapper {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    margin: 0 auto;
    z-index: 10000001;
}
.pg_modal-wrapper {
    max-width: 500px;
    width: 100%;
    min-height: 100%;
    margin: auto;
    padding: 20px 15px 50px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.pg_relative {
    position: relative;
}
.pg_modal-close {
    position: absolute;
    right: -15px;
    top: -15px;
    margin: 0 !important;
    height: 25px !important;
    width: 25px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    line-height: normal !important;
    font-size: 25px !important;
    background-color: white;
    border-radius: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}
span.arrow-left {
    z-index: 1 !important;
}
span.arrow-right {
    z-index: 1 !important;
}
.pg_oddsModal {
    border: 2px solid white;
}
.pg_oddsGrid-dropdown-header {
    width: 100%;
    position: relative;
    padding: 10px 0;
}
.pg_oddsGrid-dropdown-selector {
    width: 90%;
    padding: 5px;
    text-align: left;
    border: 1px solid #6e6e6e;
    color: #6e6e6e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    cursor: pointer;
}
.pg_oddsGrid-dropdown-selector span {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    max-width: calc(100% - 30px);
}
.pg_oddsGrid-dropdown-selector i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin-left: auto;
}
.pg_oddsGrid-dropdown {
    width: 100%;
    position: absolute;
    z-index: 10;
    margin: auto;
    display: none;
}
.pg_oddsGrid-dropdown:focus {
    display: block;
}
.pg_oddsGrid-dropdown-item {
    width: 90%;
    text-align: left;
    background-color: white;
    padding: 5px;
    border-bottom: 1px solid #6e6e6e;
    border-right: 1px solid #6e6e6e;
    border-left: 1px solid #6e6e6e;
    margin: auto;
    cursor: pointer;
    color: #6e6e6e;
}
.pg_oddsGrid-dropdown-item:hover {
    background-color: #e9e9e9;
}
@media screen and (max-width: 450px) {
    .pg_oddsGrid-dropdown-item {
        height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
.pg_scorePicker-bookie {
    width: 25%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
    height: 60px;
    background-size: 0;
    padding: 5px;
}
.pg_scorePicker-odds {
    width: 30%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
    height: 60px;
    background-size: 0;
    padding: 5px;
}
.pg_scorePicker-atbs {
    width: 45%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
    height: 60px;
    background-size: 0;
    padding: 5px;
}
.pg_scorePicker-header-atbs {
    width: 45%;
}
.pg_scorePicker-header-odds {
    width: 30%;
}
.pg_scorePicker-header-bookie {
    width: 25%;
}
.pg_modal-odds {
    width: 30%;
}
.pg_modal-atbs {
    width: 45%;
}
.pg_modal-freebet {
    width: 25%;
}
.pg_modal-logo {
    height: 35px;
    padding: 5px;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.pg_modal-logo img {
    height: 100%;
    max-height: 100%;
}
.pg_totalGoals-selector-container {
    margin-bottom: 10px;
    font-size: 16px;
    color: #6e6e6e;
}
.pg_totalGoals-selector {
    padding: 5px;
    border: 1px solid #6e6e6e;
}
.preview-freebet-container {
    padding: 5px;
}
.preview-freebet {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}
.preview-freebet > a {
    margin: 0 !important;
}
.atbs-mobile {
    display: none;
}
@media screen and (max-width: 500px) {
    .atbs-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .atbs-desktop {
        display: none;
    }
}
.pg_oddsMarketContainer {
    display: none;
}
.pg_previewBet-btn.openOddsTrigger.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.pg_container {
    width: 100%;
    background-color: white;
    color: #414141;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.pg_header {
    width: 100%;
    background-color: #414141;
    color: white;
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.pg_graph-title {
    border-bottom: 1px solid #eaeaea;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #414141;
    background-color: #eaeaea;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.pg_graph-title .pg_team {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}
.pg_row {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #eaeaea;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
}
.pg_row .pg_team {
    position: relative;
}
.pg_team {
    width: 35%;
    height: 100%;
}
.pg_label {
    width: 30%;
    background-color: white;
    color: #6e6e6e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.pg_label span {
    text-align: center;
    margin: 0 auto;
}
.pg_label .btts-info {
    font-size: 10px;
}
.pg_bar-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.pg_bar {
    background-color: #ee493b;
    height: 30px;
    white-space: nowrap;
    color: white;
    padding: 5px;
    min-width: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.pg_player-name {
    width: 100%;
    text-align: left;
    color: #6e6e6e;
    font-size: 14px;
}
.primary {
    background-color: #ee493b;
}
@media screen and (max-width: 425px) {
    .pg_player-name {
        font-size: 12px;
    }
    .pg_bar {
        background-color: #ee493b;
        height: 30px;
        font-size: 12px;
        padding: 5px 3px;
        min-width: 20px;
    }
    .pg_label span {
        font-size: 12px;
    }
}
@media screen and (max-width: 375px) {
    .pg_bar {
        background-color: #ee493b;
        height: 30px;
        font-size: 10px;
        padding: 5px 3px;
        min-width: 20px;
    }
}
.pg_home .pg_bar-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.pg_home .pg_bar-container .pg_bar {
    text-align: right;
}
.pg_home .pg_bar-container .pg_player-name {
    text-align: right;
}
.pg_away .pg_bar-container .pg_bar {
    text-align: left;
}
.atbs-all_select {
    width: 100%;
    font-size: 20px;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height: 1.33;
    color: rgba(0, 0, 0, 0.8);
    padding: 5px;
}
.atbs-all_warning-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.atbs-all_warning {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    display: block;
    margin-top: -10px;
    font-size: 12px;
    text-align: left;
    padding: 0 30px 5px 30px;
}
@media (min-width: 501px) {
    .atbs-all--mobile {
        display: none !important;
    }
}
@media (max-width: 500px) {
    .atbs-all--desktop {
        display: none !important;
    }
}
.StatGraph {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 680px;
    margin: auto;
}
.StatGraph__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.HeaderItem {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    background-color: #3f3f3f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
@media (max-width: 400px) {
    .HeaderItem {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
.HeaderItem .TeamName {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #ffffff;
    font-weight: bold;
    margin: 10px 0;
}
.HeaderItem .TeamName--left {
    padding-right: 40px;
}
@media (max-width: 400px) {
    .HeaderItem .TeamName--left {
        text-align: left;
        padding: 0;
    }
}
.HeaderItem .TeamName--right {
    padding-left: 40px;
}
@media (max-width: 400px) {
    .HeaderItem .TeamName--right {
        text-align: right;
        padding: 0;
    }
}
@media (max-width: 400px) {
    .HeaderItem .TeamName {
        margin: 0 5px 5px 5px;
    }
}
.HeaderItem .TeamLogo {
    margin: 5px;
    -ms-flex-preferred-size: 45px;
    flex-basis: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.HeaderItem .TeamLogo img {
    height: 30px;
    width: auto;
}
@media (max-width: 400px) {
    .HeaderItem .TeamLogo {
        -ms-flex-preferred-size: unset;
        flex-basis: unset;
    }
}
.HeaderItem--right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
@media (max-width: 400px) {
    .HeaderItem--right {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
.StatGraph__row {
    width: 100%;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.StatGraph__row:nth-child(odd) {
    background-color: #ebebeb;
}
.PlayerName {
    color: #3f3f3f;
}
.PlayerName__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.PlayerName__container--left {
    text-align: right;
}
.PlayerName__container--right {
    text-align: left;
}
.PlayerName--last {
    text-transform: uppercase;
    font-weight: bold;
}
.Stat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0 5px;
}
.Stat__bar {
    background-color: #3f3f3f;
}
.Stat__container {
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 25px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.Stat__container--bar {
    border: 2px solid #3f3f3f;
    background-color: #ffffff;
}
.Stat__container--left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.Stat__container--right svg {
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}
.Stat__container svg {
    height: 22px;
    margin: 2px;
    fill: #3f3f3f;
}
.Middle {
    -ms-flex-preferred-size: 80px;
    flex-basis: 80px;
    text-align: center;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    color: #3f3f3f;
}
.Key {
    -ms-flex-preferred-size: 45px;
    flex-basis: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.Key__container {
    font-weight: bold;
    margin: 5px;
    color: #3f3f3f;
}
.Key--right {
    text-align: right;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.Key--left {
    text-align: left;
}
@media (max-width: 400px) {
    .Stat {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
        padding: 0;
        margin: 0;
    }
    .Stat__container {
        margin: 0px 10px 10px 10px;
    }
    .Stat--left {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }
    .Stat--right {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }
    .StatGraph__row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0;
    }
    .Key {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    }
    .Key__container {
        width: 100%;
        padding: 5px 10px;
        font-size: 22px;
    }
    .Middle {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        font-size: 18px;
    }
}
